@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

* {
    font-family: 'Sora', sans-serif;
}

body {
    color: ghostwhite;
    margin: 0%;
    background-image: url("../res/img/background_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    margin: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#menu {
    display: grid;
    background-color: rgba(26, 26, 26);
    letter-spacing: 0.1px;
    width: 100%;
    margin: 0%;
    position: fixed;
    justify-content: center;
}

#menu a {
    padding-left: 10px;
    transition: 0.5s;
}

#menu a:hover {
    background-color: white;
    padding: 10px;
    transition: 0.5s;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(26, 26, 26, 0.85);
    padding-left: 5%;
    padding-right: 5%;
}

.row {
    display: flex; 
}

.column {
    flex: auto;
    padding: 5%;
    align-self: center;
    text-align: center;
}

.picture {
    width: auto;
    max-width: 80%;
    margin: 20px;
    border: 3px solid ghostwhite;
}

.list ul li {
    padding: 5px;
}
 
p {
    display: inline-block;
    text-align: justify;
    font-size: 18px;
    font-weight: 23px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #C098B2;
}

ul {
    list-style: none;
}